[submodule "protocol"]
	path = protocol
	url = https://github.com/livekit/protocol
	update = none
[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/SergiusTheBest/plog.git
	shallow = true
	update = none
[submodule "deps/nlohmann_json"]
	path = deps/nlohmann_json
	url = https://github.com/nlohmann/json.git
	shallow = true
	update = none
[submodule "deps/dr_libs"]
	path = deps/dr_libs
	url = https://github.com/mackron/dr_libs.git
	shallow = true
	update = none
